:root {
    --red-color: #b72637;
    --blue-color: #113663;
    --light-color: #ffffff;
    --gray-color: #f0f0f0;
    --dark-color: #000000;
    --offwhite: #acacac;
}

@import "./theme/fonts";

.title {
    display: flex;
    justify-content: space-between;
    h1 {
        color: var(--dark-color);
        font-size: 30px;
        font-family: "Avenir-black";
    }
    .btn {
        background-color: var(--gray-color);
        border-radius: 25px;
        color: var(--dark-color);
        font-size: 20px;
        font-family: "Avenir-medium";
        padding: 11px 35px 8px;
        height: 46px;
        width: 143px;
        box-shadow: none !important;
    }
}

.slider {
    .owl-dots {
        position: absolute;
        top: 90%;
        right: 0;
        left: 1%;
    }
}

.our-categories {
    background-color: var(--gray-color);
    padding: 59px 0 92px;
    // .container {
    //     max-width: 1674px !important;
    // }
    .categories-content {
        .btn {
            background-color: var(--light-color);
        }
        .categorie {
            margin-top: 48px;
            .card {
                border-radius: 40px;
                height: 420px;
            }
            .categorie-img {
                margin-top: 38px;
                margin-bottom: 80px;
            }
            .card-body {
                padding: 58px 37px;
            }
            .card-title {
                color: var(--dark-color);
                font-size: 28px;
                font-family: "Avenir-black";
            }
            .card-text {
                font-size: 19px;
                font-family: "Lato-Regular";
                color: var(--dark-color);
            }
            .special-p {
                max-width: 480px;
            }
        }
    }
}

.our-tools {
    background: url("../img/tools\ backgraund.png") center no-repeat;
    background-size: cover;
    height: 496px;
    position: relative;
    .tools-content {
        text-align: center;
        top: 179px;
        position: absolute;
        left: 0;
        right: 0;
        h1 {
            font-size: 76px;
            font-family: "Avenir-black";
            color: var(--light-color);
        }
        .btn {
            background-color: var(--red-color);
            border-radius: 25px;
            color: var(--light-color);
            font-size: 20px;
            font-family: "Avenir-book";
            padding: 16px 43px;
            height: 58px;
            width: 181px;
            box-shadow: none;
            margin-top: 65px;
        }
    }
}

.owl-theme {
    .owl-dots {
        .owl-dot {
            span {
                background-color: transparent !important;
                border: 2px solid var(--light-color);
                width: 12px;
                height: 12px;
            }
        }
        .owl-dot.active {
            span {
                background-color: var(--light-color) !important;
                border: 2px solid var(--light-color);
                width: 12px;
                height: 12px;
            }
        }
    }
}

.professionally {
    padding: 115px 0 157px;
    // .container {
    //     max-width: 1674px !important;
    // }
    .btn {
        background-color: var(--gray-color);
    }
    .title {
        margin-bottom: 65px;
    }
    .owl-stage-outer {
        margin: auto;
    }
    .slider {
        .hobbies-item {
            .card {
                border: none;
                .card-title {
                    font-size: 18px;
                    color: var(--dark-color);
                    font-family: "Avenir-medium";
                    display: flex;
                    justify-content: space-between;
                }
                .card-text {
                    color: var(--offwhite);
                    font-size: 18px;
                    font-family: "Avenir-medium";
                }
                .rating {
                    max-width: 30%;
                }
                .portfolio {
                    max-width: 100%;
                }
            }
        }
    }
}

.ideas {
    // padding: 75px 0;
    // .container {
    //     max-width: 1674px !important;
    // }
    padding: 0px 0 70px;
    .btn {
        background-color: var(--gray-color);
    }
    .title {
        margin-bottom: 77px;
    }
    // .owl-stage-outer {
    //     margin: auto;
    //     margin-left: -43%;
    // }
    // .owl-item:active {
    //     width: 2250px !important;
    // }
    // .owl-item {
    //     width: 2250px !important;
    // }
    .slider {
        .hobbies-item {
            .card {
                border: none;
                .card-title {
                    font-size: 18px;
                    color: var(--dark-color);
                    font-family: "Avenir-medium";
                    display: flex;
                    justify-content: space-between;
                }
                .card-text {
                    color: var(--offwhite);
                    font-size: 18px;
                    font-family: "Avenir-medium";
                }
                .rating {
                    max-width: 30%;
                }
                .portfolio {
                    max-width: 100%;
                }
            }
        }
    }
}

.products {
    .products-content {
        background-color: var(--blue-color);
        padding: 70px 79px 0;
    }
    .img {
        max-width: 100%;
    }
    .pro-content {
        text-align: left;
        h1 {
            font-size: 60px;
            color: var(--light-color);
            font-family: "Avenir-black";
        }
        p {
            font-size: 30px;
            color: var(--light-color);
            font-family: "Avenir-black";
            max-width: 45%;
            margin-top: 10%;
        }
        .btn {
            background-color: var(--light-color);
            border-radius: 25px;
            color: var(--dark-color);
            font-size: 20px;
            font-family: "Avenir-medium";
            padding: 10px 25px;
            height: 46px;
            width: 143px;
            box-shadow: none;
            margin-top: 45px;
        }
    }
}

.article {
    padding: 100px 0 176px 0;
    // .container {
    //     max-width: 1674px !important;
    // }
    .title {
        margin-bottom: 65px;
    }
    .card {
        border-radius: 25px;
        border: none;
        .card-title {
            font-size: 13px;
            color: var(--offwhite);
            display: flex;
            justify-content: space-between;
        }
        .card-text {
            color: var(--dark-color);
            font-size: 18px;
            font-family: "Avenir-medium";
            max-width: 84%;
        }
        h4 {
            color: var(--dark-color);
            font-family: "Avenir-black";
            max-width: 90%;
        }
        .article-img {
            border-radius: 25px;
        }
    }
}

.footer {
    height: 637px;
    background-color: var(--blue-color);
    padding: 115px 72px;
    .footer-top {
        border-bottom: 2px solid var(--light-color);
        h1 {
            font-size: 50px;
            color: var(--light-color);
            font-family: "Avenir-book";
        }
        h2 {
            font-size: 38px;
            color: var(--light-color);
            font-family: "Avenir-book";
            margin-bottom: 30px;
        }
        .special {
            font-family: "Avenir-black";
        }
        .social {
            display: flex;
            margin-top: 35px;
        }
        .social-icons {
            border: 2px solid var(--light-color);
            border-radius: 50%;
            padding: 6px;
            margin-right: 20px;
            width: 34px;
            height: 32px;
        }
        .social-icon {
            font-size: 18px;
            color: var(--light-color);
            padding-left: 2px;
        }
        .special-icon {
            font-size: 32px;
        }
        .address {
            line-height: 29px;
            max-width: 80%;
        }
        h4 {
            font-family: "Avenir-book";
            font-size: 21px;
            color: var(--light-color);
        }
        .news {
            margin-bottom: 0;
        }
        .form {
            position: relative;
            margin-bottom: 106px;
            .form-control {
                border: 1px solid var(--light-color);
                margin-top: 96px;
                border-top: 0;
                border-left: 0;
                border-radius: 0;
                background: transparent;
                padding: 6px 10px;
            }
            .form-control:focus {
                box-shadow: none;
                color: var(--light-color);
                font-size: 21px;
            }
            .label {
                position: absolute;
                font-size: 21px;
                color: var(--light-color);
                font-family: "Avenir-book";
                bottom: 21px;
                left: -12px;
            }
            .btn {
                position: absolute;
                top: -38px;
                right: 0px;
                bottom: 0;
                border: 0;
                width: 228px;
                height: 73px;
                font-size: 21px;
                padding: 23px 67px 22px 68px;
                font-family: "Avenir-medium";
                background: var(--light-color);
                color: var(--dark-color);
                transition: 0.3s;
                border-radius: 0;
            }
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: var(--light-color);
        }
    }
    h3 {
        font-size: 21px;
        color: var(--light-color);
        font-family: "Avenir-medium";
        margin-bottom: 30px;
    }
    .footer-bottom {
        display: flex;
        padding: 60px 0 0 0;
        justify-content: space-between;
        border-top: 2px solid var(--light-color);
        p {
            font-size: 18px;
            font-family: "Avenir-medium";
            color: var(--light-color);
        }
        .last-link {
            margin-left: 38px;
        }
    }
}

@media (min-width: 1700px) and (max-width: 1900px) {
    .title {
        h1 {
            font-size: 28px;
        }
        .btn {
            font-size: 19px;
            padding: 8px 30px 0px;
            height: 40px;
            width: 140px;
        }
    }
    .topnav {
        .language {
            margin-left: 74%;
            .egypt-flag {
                .flag {
                    max-width: 8%;
                }
            }
        }
        .contact {
            margin-left: 70%;
        }
    }
    .head {
        // padding: 40px 30px;
        height: 108px;
        .logo {
            margin-right: 35px;
        }
        .nav-link {
            font-size: 13px;
            padding: 10px 13px;
            letter-spacing: 1px;
        }
        .last-content {
            margin-left: 12%;
            justify-content: start;
            padding: 31px 30px 40px 0;
            .input {
                width: 250px;
            }
            .btn-1 {
                padding: 12px 12px;
                margin-top: 0px;
                font-size: 11px;
            }
            .input:focus {
                font-size: 13px;
            }
            .label {
                font-size: 13px;
                padding: 11px;
            }
            .icon {
                margin-right: 5px;
                font-size: 17px;
            }
        }
    }
    .our-categories {
        .categories-content {
            .categorie {
                .card-title {
                    font-size: 23px;
                }
                .card-text {
                    font-size: 15px;
                }
            }
        }
    }
    .products {
        .products-content {
            padding: 35px 69px 0;
        }
        .pro-content {
            h1 {
                font-size: 55px;
                max-width: 70%;
            }
            p {
                font-size: 28px;
                max-width: 40%;
            }
            .btn {
                padding: 8px 0px;
                height: 40px;
                width: 140px;
                margin-top: 30px;
            }
        }
    }
    .ideas {
        .owl-stage-outer {
            margin: auto;
            margin-left: -43%;
        }
        .owl-item:active {
            width: 1983px !important;
        }
        .owl-item {
            width: 1983px !important;
        }
    }
    .article {
        .card {
            .card-title {
                font-size: 13px;
            }
            .card-text {
                font-size: 16px;
                max-width: 97%;
            }
            h4 {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 1699px) {
    .title {
        h1 {
            font-size: 27px;
        }
        .btn {
            font-size: 18px;
            padding: 6px 30px 0px;
            height: 36px;
            width: 133px;
        }
    }
    .topnav {
        .language {
            margin-left: 74%;
        }
        .contact {
            margin-left: 62%;
        }
    }
    .head {
        // padding: 40px 30px;
        .logo {
            margin-right: 0px;
        }
        .nav-link {
            font-size: 12px;
            padding: 10px 10px;
            letter-spacing: 0.4px;
        }
        .last-content {
            margin-left: 3%;
            padding: 31px 0;
            justify-content: start;
            .input {
                width: 230px;
            }
            .btn-1 {
                padding: 13px 0px;
                margin-top: 0px;
                font-size: 11px;
            }
            .input:focus {
                font-size: 12px;
            }
            .label {
                font-size: 12px;
                padding: 11px;
            }
            .icon {
                margin-right: 5px;
                font-size: 15px;
            }
        }
    }
    .our-categories {
        .categories-content {
            .categorie {
                .card-title {
                    font-size: 23px;
                }
                .card-text {
                    font-size: 15px;
                }
            }
        }
    }
    .products {
        .products-content {
            padding: 20px 69px 0;
        }
        .pro-content {
            h1 {
                font-size: 50px;
            }
            p {
                font-size: 27px;
                margin-top: 6%;
            }
            .btn {
                padding: 5px 18px;
                height: 36px;
                width: 133px;
                margin-top: 30px;
            }
        }
    }
    .ideas {
        .owl-stage-outer {
            margin: auto;
            margin-left: -43%;
        }
        .owl-item:active {
            width: 1620px !important;
        }
        .owl-item {
            width: 1620px !important;
        }
    }
    .article {
        .card {
            .card-title {
                font-size: 13px;
            }
            .card-text {
                font-size: 16px;
                max-width: 97%;
            }
            h4 {
                font-size: 16px;
                max-width: 100%;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container-xxl {
        width: 1170px !important;
        max-width: 1674px !important;
    }
    .title {
        h1 {
            font-size: 21px;
        }
        .btn {
            font-size: 14px;
            padding: 5px 19px 0px;
            height: 30px;
            width: 100px;
        }
    }
    .topnav {
        height: 17px;
        .language {
            margin-left: 75%;
            .egy {
                margin-right: 10px;
                font-size: 9px;
                padding: 3px 15px;
            }
            .special {
                font-size: 11px;
            }
            .dropdown {
                font-size: 14px;
            }
            .egypt-flag {
                top: 5px;
                right: 0px;
                left: 30px;
                .flag {
                    max-width: 6%;
                }
            }
        }
        .contact {
            margin-left: 72%;
            a {
                font-size: 8px;
                padding: 4px 10px;
            }
        }
    }
    .head {
        height: 77px;
        .first-content {
            padding: 20px 0;
        }
        .logo {
            margin-right: 0px;
            padding: 18px 0 0 22px;
            img {
                max-width: 71%;
            }
        }
        .list {
            margin-top: 0px;
        }
        .nav-link {
            font-size: 10px;
            padding: 10px 7px;
            letter-spacing: 0.3px;
        }
        .nav-pills {
            .btn {
                height: 28px;
                width: 53px;
                margin: 1px 0 0 5px;
                padding: 9px 0;
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 9px;
            }
        }
        .nav-item {
            margin-left: 10px;
        }
        .last-content {
            margin-left: 9%;
            padding: 20px 0;
            justify-content: start;
            .input {
                width: 200px;
                height: 30px;
                font-size: 10px;
            }
            .btn-1 {
                padding: 12px 0px;
                margin-top: 0px;
                font-size: 9px;
                height: 30px;
                width: 85px;
                padding: 10px 3px 0 0;
            }
            .input:focus {
                font-size: 10px;
            }
            .label {
                font-size: 10px;
                padding: 11px;
            }
            .search-icon {
                margin-left: 5px;
            }
            .icon {
                margin-right: 5px;
                font-size: 13px;
            }
        }
    }
    .our-categories {
        padding: 40px 0 60px;
        .categories-content {
            .categorie {
                margin-top: 25px;
                .card-title {
                    font-size: 19px;
                }
                .card {
                    height: 300px;
                    border: none !important;
                    .card-body {
                        padding: 30px 37px;
                    }
                    .categorie-img {
                        margin-top: 30px;
                        margin-bottom: 55px;
                        max-width: 35%;
                    }
                }
                .card-text {
                    font-size: 12px;
                }
                .special-p {
                    max-width: 290px;
                }
            }
        }
    }
    .our-tools {
        height: 340px;
        .tools-content {
            top: 110px;
            left: 17px;
            right: 0;
            h1 {
                font-size: 53px;
            }
            .btn {
                font-size: 14px;
                padding: 9px 0px;
                height: 40px;
                width: 130px;
                margin-top: 40px;
            }
        }
    }
    .professionally {
        padding: 60px 0 50px;
        .title {
            margin-bottom: 35px;
        }
        .slider {
            .hobbies-item {
                .card {
                    border: none;
                    .card-title {
                        font-size: 13px;
                    }
                    .card-text {
                        font-size: 13px;
                    }
                    .card-body {
                        padding: 0.5rem 0rem;
                    }
                }
            }
        }
    }
    .ideas {
        padding: 0px 0 50px;
        .title {
            margin-bottom: 50px;
        }
        .slider {
            .hobbies-item {
                .card {
                    border: none;
                    .card-title {
                        font-size: 13px;
                    }
                    .card-text {
                        font-size: 13px;
                    }
                    .card-body {
                        padding: 0.5rem 0rem;
                    }
                }
            }
        }
        // .owl-stage-outer {
        //     margin: auto;
        //     margin-left: -56%;
        // }
        // .owl-item:active {
        //     width: 1600px !important;
        // }
        // .owl-item {
        //     width: 1600px !important;
        // }
    }
    .products {
        .products-content {
            padding: 45px 45px 0;
        }
        .pro-content {
            h1 {
                font-size: 40px;
                max-width: 75%;
            }
            p {
                font-size: 22px;
                margin-top: 10%;
                max-width: 40%;
            }
            .btn {
                padding: 6px 10px;
                height: 32px;
                font-size: 14px;
                width: 105px;
                margin-top: 30px;
            }
        }
    }
    .article {
        padding: 60px 0 115px 0;
        .title {
            margin-bottom: 35px;
        }
        .card {
            .card-title {
                font-size: 12px;
            }
            .card-text {
                font-size: 13px;
                max-width: 95%;
            }
            h4 {
                font-size: 13px;
                max-width: 100%;
            }
        }
    }
    .footer {
        padding: 50px 50px;
        height: 465px;
        .footer-top {
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 27px;
                margin-bottom: 0px;
            }
            .social-icons {
                width: 27px;
                height: 27px;
                padding: 2px 0px 0 3px;
                margin-right: 16px;
            }
            .social-icon {
                font-size: 13px;
            }
            .special-icon {
                font-size: 27px;
            }
            .address {
                max-width: 75%;
            }
            h4 {
                font-size: 15px;
            }
            .form {
                margin-bottom: 75px;
                margin-left: auto;
                max-width: 90%;
                .form-control:focus {
                    font-size: 13px;
                }
                .label {
                    font-size: 13px;
                    letter-spacing: 1px;
                    bottom: 7px;
                    left: 0px;
                }
                .btn {
                    width: 150px;
                    height: 50px;
                    font-size: 14px;
                    padding: 16px 0;
                    top: -17px;
                }
            }
        }
        h3 {
            font-size: 14px;
        }
        .footer-bottom {
            padding: 50px 0 0 0;
            border-top: 0px solid var(--light-color);
            p {
                font-size: 13px;
            }
            .last-link {
                margin-left: 25px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
}

@media (min-width: 576px) and (max-width: 767px) {
    .container-xxl {
        width: 495px !important;
        max-width: 1674px !important;
    }
    .title {
        h1 {
            font-size: 20px;
            margin-top: 5px;
        }
        .btn {
            font-size: 15px;
            padding: 5px 15px 0px;
            height: 30px;
            width: 100px;
        }
    }
    .topnav {
        .language {
            margin-left: 40%;
            .egy {
                margin-right: 20px;
            }
            .special {
                font-size: 12px;
            }
        }
        .contact {
            margin-left: 20%;
            a {
                font-size: 10px;
            }
        }
    }
    .head {
        padding: 30px 25px;
        .logo {
            margin-right: 10px;
            img {
                max-width: 100%;
            }
        }
        .ul {
            display: grid;
        }
        .ul-2 {
            display: flex;
            flex-direction: column-reverse;
        }
        .nav-item {
            text-align: center;
        }
        .nav-link {
            font-size: 11px;
            padding: 10px 10px;
            letter-spacing: 0.6px;
        }
        .last-content {
            margin-left: 12%;
            display: flex;
            flex-direction: column-reverse;
            .form {
                margin-top: 15%;
            }
            .input {
                width: 185px;
            }
            .btn-1 {
                padding: 10px 12px;
                margin-top: 0px;
                font-size: 11px;
                margin-bottom: 10px;
            }
            .input:focus {
                font-size: 11px;
            }
            .label {
                font-size: 11px;
                padding: 11px;
            }
            .search-icon {
                margin-left: 5px;
            }
            .icon {
                margin-right: 5px;
                font-size: 13px;
            }
        }
    }
    .our-categories {
        .categories-content {
            .categorie {
                .card-title {
                    font-size: 15px;
                }
                .card-text {
                    font-size: 10px;
                }
                .card {
                    height: 280px;
                    margin-bottom: 20px;
                }
                .card-body {
                    padding: 35px 37px;
                }
                .categorie-img {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    max-width: 40%;
                }
                .special-p {
                    max-width: 250px;
                }
            }
        }
    }
    .our-tools {
        height: 250px;
        .tools-content {
            top: 20px;
            h1 {
                font-size: 45px;
            }
            .btn {
                font-size: 18px;
                padding: 10px 32px;
                height: 45px;
                width: 150px;
                margin-top: 40px;
            }
        }
    }
    .professionally {
        .slider {
            .hobbies-item {
                .card {
                    .card-title {
                        font-size: 15px;
                    }
                    .card-text {
                        font-size: 13px;
                    }
                    .rating {
                        max-width: 35%;
                    }
                }
            }
        }
    }
    .ideas {
        .slider {
            .hobbies-item {
                .card {
                    .card-title {
                        font-size: 15px;
                    }
                    .card-text {
                        font-size: 13px;
                    }
                    .rating {
                        max-width: 35%;
                    }
                }
            }
        }
    }
    .products {
        .pro-content {
            h1 {
                font-size: 40px;
                max-width: 75%;
            }
            p {
                font-size: 22px;
                margin-top: 10%;
                max-width: 40%;
            }
            .btn {
                padding: 5px 10px;
                height: 32px;
                font-size: 16px;
                width: 123px;
                margin-top: 20px;
                margin-bottom: 15px;
            }
        }
    }
    .article {
        .card {
            .card-title {
                font-size: 12px;
            }
            .card-text {
                font-size: 14px;
                max-width: 80%;
            }
            h4 {
                font-size: 14px;
                max-width: 55%;
            }
        }
    }
    .footer {
        padding: 40px 72px;
        height: auto;
        .footer-top {
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 33px;
            }
            .social-icons {
                width: 27px;
                height: 27px;
                padding: 4px;
                margin-right: 16px;
            }
            .social-icon {
                font-size: 15px;
            }
            .special-icon {
                font-size: 27px;
            }
            .address {
                max-width: 40%;
            }
            h4 {
                font-size: 17px;
            }
            .form {
                .form-control:focus {
                    font-size: 16px;
                }
                .label {
                    font-size: 16px;
                }
                .btn {
                    width: 200px;
                    height: 64px;
                    font-size: 18px;
                    padding: 20px 67px 15px 63px;
                    top: -30px;
                }
            }
        }
        h3 {
            font-size: 18px;
        }
        .footer-bottom {
            border: 0;
            display: inline-block;
            margin-left: 25%;
            p {
                font-size: 16px;
            }
            .last-a {
                justify-content: space-between;
            }
        }
    }
}

@media (min-width: 1900px) {
    .container-xxl {
        width: 1674px !important;
        max-width: 1674px !important;
    }
}

// @media (max-width: 1326px) {
//     .container-xxl {
//         width: 1130px !important;
//     }
//     .title {
//         h1 {
//             font-size: 24px;
//         }
//         .btn {
//             font-size: 16px;
//             padding: 6px 25px 0px;
//             height: 30px;
//             width: 110px;
//         }
//     }
//     .topnav {
//         .language {
//             margin-left: 77%;
//             .egy {
//                 margin-right: 20px;
//             }
//             .special {
//                 font-size: 12px;
//             }
//             .egypt-flag {
//                 top: 7px;
//                 right: 0px;
//                 left: 31px;
//                 .flag {
//                     max-width: 11%;
//                 }
//             }
//         }
//         .contact {
//             margin-left: 60%;
//             a {
//                 font-size: 10px;
//             }
//         }
//     }
//     .head {
//         // padding: 30px 25px;
//         .logo {
//             margin-right: 0px;
//             padding: 26px;
//             img {
//                 max-width: 90%;
//             }
//         }
//         .list {
//             margin-top: 0px;
//         }
//         .nav-link {
//             font-size: 11px;
//             padding: 10px 7px;
//             letter-spacing: 0;
//         }
//         .nav-pills {
//             .btn {
//                 height: 35px;
//                 width: 70px;
//             }
//         }
//         .last-content {
//             margin-left: 0%;
//             padding: 31px 0;
//             justify-content: start;
//             .input {
//                 width: 230px;
//                 height: 35px;
//             }
//             .btn-1 {
//                 padding: 11px 0px;
//                 margin-top: 0px;
//                 font-size: 10px;
//                 height: 35px;
//                 width: 100px;
//             }
//             .input:focus {
//                 font-size: 11px;
//             }
//             .label {
//                 font-size: 11px;
//                 padding: 11px;
//             }
//             .search-icon {
//                 margin-left: 5px;
//             }
//             .icon {
//                 margin-right: 5px;
//                 font-size: 13px;
//             }
//         }
//     }
//     .our-categories {
//         .categories-content {
//             .categorie {
//                 .card-title {
//                     font-size: 19px;
//                 }
//                 .card-text {
//                     font-size: 12px;
//                 }
//                 .special-p {
//                     max-width: 290px;
//                 }
//             }
//         }
//     }
//     .products {
//         .products-content {
//             padding: 15px 30px 0;
//         }
//         .pro-content {
//             h1 {
//                 font-size: 40px;
//                 max-width: 75%;
//             }
//             p {
//                 font-size: 22px;
//                 margin-top: 10%;
//                 max-width: 40%;
//             }
//             .btn {
//                 padding: 5px 10px;
//                 height: 32px;
//                 font-size: 16px;
//                 width: 123px;
//                 margin-top: 30px;
//             }
//         }
//     }
//     .article {
//         .card {
//             .card-title {
//                 font-size: 12px;
//             }
//             .card-text {
//                 font-size: 14px;
//                 max-width: 100%;
//             }
//             h4 {
//                 font-size: 14px;
//                 max-width: 100%;
//             }
//         }
//     }
//     .ideas {
//         .owl-stage-outer {
//             margin: auto;
//             margin-left: -43%;
//         }
//         .owl-item:active {
//             width: 1375px !important;
//         }
//         .owl-item {
//             width: 1375px !important;
//         }
//     }
//     .footer {
//         padding: 100px 72px;
//         .footer-top {
//             h1 {
//                 font-size: 40px;
//             }
//             h2 {
//                 font-size: 33px;
//             }
//             .social-icons {
//                 width: 27px;
//                 height: 27px;
//                 padding: 4px;
//                 margin-right: 16px;
//             }
//             .social-icon {
//                 font-size: 15px;
//             }
//             .special-icon {
//                 font-size: 27px;
//             }
//             .address {
//                 max-width: 90%;
//             }
//             h4 {
//                 font-size: 17px;
//             }
//             .form {
//                 .form-control:focus {
//                     font-size: 16px;
//                 }
//                 .label {
//                     font-size: 16px;
//                 }
//                 .btn {
//                     width: 200px;
//                     height: 64px;
//                     font-size: 18px;
//                     padding: 20px 67px 15px 63px;
//                     top: -30px;
//                 }
//             }
//         }
//         h3 {
//             font-size: 18px;
//         }
//         .footer-bottom {
//             border: 0;
//             p {
//                 font-size: 16px;
//             }
//         }
//     }
// }

/*xl= =1920×1080 */

/*lg= =1536×864 */

/*md= =1366×768 */

/*sm= =1280×720 */

@import "./theme/variables";
@import "./components/top-nav";
@import "./components/main-carousel";
@import "./components/_navbar";
@import "./components/buttons";
