@font-face {
    font-family: "Avenir-book";
    src: url("../fonts/Avenir Font/AvenirLTStd-Book.otf");
}

@font-face {
    font-family: "Avenir-black";
    src: url("../fonts/Avenir/Black.otf");
}

@font-face {
    font-family: "Avenir-medium";
    src: url("../fonts/Avenir-Medium.otf");
}

@font-face {
    font-family: "Helvetica-bold";
    src: url("../fonts/Helvetica/Neu/Bold.ttf");
}

@font-face {
    font-family: "Helveticaregular";
    src: url("../fonts/HelveticaNeue/regular.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "rocgrotesk";
    font-weight: "medium";
    src: url("../fonts/rocgrotesk/medium.otf");
}

@font-face {
    font-family: "rocgrotesk";
    font-weight: "regular";
    src: url("../fonts/rocgrotesk/RocGrotesk-regular.ttf");
}
