.faq {
    .question {
        background-color: $gray-color;
        color: $dark-color;
        width: 100%;
        border: none;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        // cursor: pointer;
        padding: 25px 100px 15px;
        @media screen and (max-width: 768px) {
            padding: 25px 20px 15px;
        }
        h3 {
            font-size: 18px;
            font-family: "Avenir-medium";
        }
    }
    .answer {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: $gray-color;
        text-align: center;
        padding: 65px 0px;
        h2 {
            font-size: 23px;
            font-family: "Avenir-black";
            margin-bottom: 30px;
        }
        a {
            text-decoration: none;
            color: $dark-color
        }
        img {
            margin-bottom: 50px;
        }
    }
    .result {
        h2 {
            margin-bottom: 0 !important;
        }
        h1 {
            color: transparent;
        }
        .specially-h {
            color: $dark-color !important;
        }
    }
}