footer {
    background-color: $blue-color;
    * {
        color: white;
    }
    .footer-input {
        input {
            // border-radius: 0;
            margin-right: 10px;
            // border: 0;
            border: 1px solid #FFFFFF;
            border-radius: 25px;
            border-bottom: 1px solid $light-color;
            background: transparent;
            &::placeholder {
                color: $light-color;
            }
            &:focus {
                box-shadow: none;
                border-radius: none;
                background: transparent;
                color: $light-color;
            }
        }
        .footer-btn {
            color: $dark-color;
            background-color: $light-color;
            border: none;
            border-radius: 25px;
            font-weight: bold;
            padding: 15px 50px;
        }
    }
}