.main-slider {
    margin-bottom: 0% !important;
    overflow: hidden;
    .slick-dots {
        bottom: 10px;
        .slick-active {
            background: #fff !important;
        }
        li {
            background: transparent;
            border: 1px solid #fff;
            border-radius: 50%;
            width: 11px;
            height: 11px;
        }
    }
}

@media screen and (max-width: 500px) {
    .main-slider {
        .slick-slide {
            img {
                height: 300px;
                object-fit: cover;
            }
        }
    }
}