nav {
    background-color: $blue-color;
    @media screen and (min-width: 1200px) {
        height: 111px;
    }
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    .nav-item {
        .nav-link {
            background-color: transparent;
            font-size: 12px;
            color: $offwhite;
            font-family: "Avenir-book";
            @media screen and (min-width: 1200px) {
                padding: 10px !important;
            }
            @media screen and (max-width: 1200px) {
                margin-bottom: 10px;
            }
            padding: 5px !important;
            letter-spacing: 1px;
            &.with-icon {
                display: flex;
                align-items: center;
                svg {
                    margin-right: 5px;
                }
            }
            &:hover {
                text-decoration: none;
                background-color: transparent;
                color: $offwhite;
            }
            &.active {
                background-color: $red-color;
                border-radius: $default-border-radius;
                color: $light-color;
                &:hover {
                    background-color: $red-color;
                }
            }
        }
    }
    .user-link {
        color: $gray-color;
        margin-left: 5px;
        transform: translateY(-3px);
        text-decoration: none;
        .user-icon {
            background: white;
            color: black;
            padding: 5px;
            font-size: 13px;
            border-radius: 50%;
            transform: translateY(5px);
        }
    }
    .navbar-brand {
        padding: 5px !important;
    }
    .first-content {
        padding: 31px 0px 40px;
    }
    .last-content {
        margin-left: 14%;
        justify-content: space-around;
        display: flex;
        padding: 31px 41px 40px 0;
        .btn-1 {
            height: 40px;
            width: 107px;
            letter-spacing: 0;
            padding: 12px 8px;
            font-size: 12px;
            font-family: "Avenir-book";
        }
        .form:focus label {
            opacity: 0;
            display: none;
        }
        .input {
            background-color: transparent;
            // border: 1px solid $light-color);
            border: 1px solid #a1abb9;
            height: 39px;
            border-radius: 300px;
            width: 271px;
            font-size: 14px;
            font-family: "Avenir-book";
            // color: #d9dfe7;
            color: #a1abb9;
            padding: 0px 25px;
            position: relative;
        }
        .input:focus {
            // color: $light-color);
            // color: #d9dfe7;
            color: #a1abb9;
            font-size: 14px;
            box-shadow: none;
            .label {
                opacity: 0;
                display: none;
            }
        }
        .input:focus label {
            display: none;
        }
        .label {
            position: absolute;
            font-size: 14px;
            // color: $light-color);
            // color: #d9dfe7;
            color: #a1abb9;
            font-family: "Avenir-book";
            padding: 9px;
        }
        .icon {
            // color: $light-color);
            // color: #d9dfe7;
            color: #a1abb9;
            margin-right: 7px;
            font-size: 19px;
        }
        .search-icon {
            margin-left: 15px;
        }
    }
    .search-input {
        position: relative;
        input {
            background-color: transparent;
            color: white;
            border-radius: 25px !important;
            &::placeholder {
                color: white;
            }
            &:focus {
                background: transparent;
                box-shadow: none;
                border: 1px solid white;
                color: white;
                // z-index: 2;
                // transition: all 0.1s ease;
                // position: relative;
                // background: #113663;
                // .search-icon {
                //     display: none;
                // }
            }
            padding-left: 30px;
        }
        .search-icon {
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 10px;
            width: 16px;
            transform: translateY(-50%);
        }
    }
}