.professional-card {
    font-size: 18px;
    padding: 15px;

    .professional-card-img {
        height: 500px;
        object-fit: fill;
    }
    
    &.wide {
        .professional-card-img {
            border-radius: 25px;
            overflow: hidden;
            height: 250px;
            object-fit: cover;
        }
    }

    .card-title {
        // margin-top: 10px;
    }
    .card-text {
        color: $offwhite;
        margin: 0;
        padding: 0;
    }

    .rating {
        display: inline;
        .checked {
            color: gold
        }
    }
}