.professional-card {
    font-size: 18px;
    padding: 15px;

    .professional-card-img {
        height: 500px;
        width: 100%;
        object-fit: fill;

        @media screen and (max-width: 600px) {
            height: auto !important;
        }
    }

    &.wide {
        .professional-card-img {
            border-radius: 25px;
            overflow: hidden;
            height: 200px;
            @media screen and (max-width: 600px) {
                height: auto !important;
            }
            object-fit: fill;
        }
    }

    .card-title {
        // margin-top: 10px;
    }
    .card-text {
        color: $offwhite;
        margin: 0;
        padding: 0;
    }

    .rating {
        display: inline;
        .checked {
            color: gold;
        }
    }
}

.slider-wrapper {
    position: relative;

    .professional-prev-btn,
    .professional-next-btn {
        position: absolute;
        top: 50%;
        z-index: 99;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .professional-prev-btn {
        right: 100%;
        @media screen and (max-width: 600px) {
            right: 95%;
        }
    }

    .professional-next-btn {
        left: 100%;
        @media screen and (max-width: 600px) {
            left: 95%;
        }
    }
}
