.professional-card {
    font-size: 18px;
    padding: 15px;
    position: relative;
    &:hover {
        .professional-card-img {
            scale: 1.03;
            transition: 0.4s ease;
            z-index: -1;
        }
    }
    .expert-btn {
        position: absolute;
        font-family: "Avenir-medium";
        font-size: 13px;
        padding: 5px;
        border-radius: 25px;
        width: 25%;
        z-index: 1;
        height: 25px;
        left: 65%;
        top: 5%;
        text-align: center;
        background: $red-color;
        border: none;
        color: $light-color;
    }
    .professional-card-img {
        // height: 500px;
        width: 100%;
        // object-fit: fill;
        object-fit: contain;
        // opacity: 1;
        border-radius: 8%;
        @media screen and (max-width: 600px) {
            height: auto !important;
        }
    }
    .portfolio {
        object-fit: cover !important;
    }
    img {
        width: 9%;
        height: 9%;
        &:hover {
            cursor: pointer;
        }
    }
    a {
        text-decoration: none;
        color: $dark-color;
        // &:focus {
        //     .icon {
        //         background: red;
        //     }
        // }
    }
    &.wide {
        .professional-card-img {
            border-radius: 25px;
            overflow: hidden;
            height: 200px;
            @media screen and (max-width: 600px) {
                height: auto !important;
            }
            object-fit: fill;
        }
    }
    // .card-title {
    //     margin-top: 10px;
    // }
    .card-text {
        color: $offwhite;
        margin: 0;
        padding: 0;
    }
    .card-title {
        scale: 1;
        &:hover {
            scale: 1.03;
        }
    }
    .rating {
        display: inline;
        .checked {
            color: gold;
        }
    }
}

.slider-wrapper {
    position: relative;
    .professional-prev-btn,
    .professional-next-btn {
        position: absolute;
        top: 50%;
        z-index: 99;
        font-size: 30px;
        transform: translateY(-50%);
    }
    .professional-prev-btn {
        right: 100%;
        @media screen and (max-width: 600px) {
            right: 95%;
        }
    }
    .professional-next-btn {
        left: 100%;
        @media screen and (max-width: 600px) {
            left: 95%;
        }
    }
}