.top-article {
    padding: 40px 0 60px;
    .btn {
        background: $gray-color;
    }
    .card {
        border: none;
        background-color: transparent;
        .card-body {
            .card-title {
                font-family: "Avenir-medium";
                font-size: 15px;
            }
            a {
                text-decoration: none;
                color: $dark-color;
                &:hover {
                    scale: 1.02;
                }
            }
            .card-text {
                font-family: "Avenir-book";
                font-size: 18px;
            }
            span {
                font-size: 18px;
                font-family: "Avenir-black";
                color: $dark-color;
            }
        }
    }
}