.top-article {
    padding: 40px 0 60px;
    .card {
        border: none;
        background-color: transparent;
        // .card-body {
        //     .card-title {
        //         font-size: 13px;
        //         color: $offwhite;
        //         display: flex;
        //         justify-content: space-between;
        //     }
        //     .card-text {
        //         color: $dark-color;
        //         font-size: 18px;
        //         font-family: "Avenir-medium";
        //         max-width: 84%;
        //     }
        //     h4 {
        //         color: $dark-color;
        //         font-family: "Avenir-black";
        //         max-width: 90%;
        //     }
        // }
    }
}