@charset "UTF-8";
:root {
  --red-color: #b72637;
  --blue-color: #113663;
  --light-color: #ffffff;
  --gray-color: #f0f0f0;
  --dark-color: #000000;
  --offwhite: #acacac;
}

@font-face {
  font-family: "Avenir-book";
  src: url("../fonts/Avenir Font/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir-black";
  src: url("../fonts/Avenir/Black.otf");
}
@font-face {
  font-family: "Avenir-medium";
  src: url("../fonts/Avenir-Medium.otf");
}
@font-face {
  font-family: "Helvetica-bold";
  src: url("../fonts/Helvetica/Neu/Bold.ttf");
}
@font-face {
  font-family: "Helveticaregular";
  src: url("../fonts/HelveticaNeue/regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "rocgrotesk";
  font-weight: "medium";
  src: url("../fonts/rocgrotesk/medium.otf");
}
@font-face {
  font-family: "rocgrotesk";
  font-weight: "regular";
  src: url("../fonts/rocgrotesk/RocGrotesk-regular.ttf");
}
.title {
  display: flex;
  justify-content: space-between;
}
.title h1 {
  color: var(--dark-color);
  font-size: 30px;
  font-family: "Avenir-black";
}
.title .btn {
  background-color: var(--gray-color);
  border-radius: 25px;
  color: var(--dark-color);
  font-size: 20px;
  font-family: "Avenir-medium";
  padding: 11px 35px 8px;
  height: 46px;
  width: 143px;
  box-shadow: none !important;
}

.slider .owl-dots {
  position: absolute;
  top: 90%;
  right: 0;
  left: 1%;
}

.our-categories {
  background-color: var(--gray-color);
  padding: 59px 0 92px;
}
.our-categories .categories-content .btn {
  background-color: var(--light-color);
}
.our-categories .categories-content .categorie {
  margin-top: 48px;
}
.our-categories .categories-content .categorie .card {
  border-radius: 40px;
  height: 420px;
}
.our-categories .categories-content .categorie .categorie-img {
  margin-top: 38px;
  margin-bottom: 80px;
}
.our-categories .categories-content .categorie .card-body {
  padding: 58px 37px;
}
.our-categories .categories-content .categorie .card-title {
  color: var(--dark-color);
  font-size: 28px;
  font-family: "Avenir-black";
}
.our-categories .categories-content .categorie .card-text {
  font-size: 19px;
  font-family: "Lato-Regular";
  color: var(--dark-color);
}
.our-categories .categories-content .categorie .special-p {
  max-width: 480px;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: transparent !important;
  border: 2px solid var(--light-color);
  width: 12px;
  height: 12px;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--light-color) !important;
  border: 2px solid var(--light-color);
  width: 12px;
  height: 12px;
}

.professionally {
  padding: 115px 0 157px;
}
.professionally .btn {
  background-color: var(--gray-color);
}
.professionally .title {
  margin-bottom: 65px;
}
.professionally .owl-stage-outer {
  margin: auto;
}
.professionally .slider .hobbies-item .card {
  border: none;
}
.professionally .slider .hobbies-item .card .card-title {
  font-size: 18px;
  color: var(--dark-color);
  font-family: "Avenir-medium";
  display: flex;
  justify-content: space-between;
}
.professionally .slider .hobbies-item .card .card-text {
  color: var(--offwhite);
  font-size: 18px;
  font-family: "Avenir-medium";
}
.professionally .slider .hobbies-item .card .rating {
  max-width: 30%;
}
.professionally .slider .hobbies-item .card .portfolio {
  max-width: 100%;
}

.ideas {
  padding: 0px 0 70px;
}
.ideas .btn {
  background-color: var(--gray-color);
}
.ideas .title {
  margin-bottom: 77px;
}
.ideas .slider .hobbies-item .card {
  border: none;
}
.ideas .slider .hobbies-item .card .card-title {
  font-size: 18px;
  color: var(--dark-color);
  font-family: "Avenir-medium";
  display: flex;
  justify-content: space-between;
}
.ideas .slider .hobbies-item .card .card-text {
  color: var(--offwhite);
  font-size: 18px;
  font-family: "Avenir-medium";
}
.ideas .slider .hobbies-item .card .rating {
  max-width: 30%;
}
.ideas .slider .hobbies-item .card .portfolio {
  max-width: 100%;
}

.products .products-content {
  background-color: var(--blue-color);
  padding: 70px 79px 0;
}
.products .img {
  max-width: 100%;
}
.products .pro-content {
  text-align: left;
}
.products .pro-content h1 {
  font-size: 60px;
  color: var(--light-color);
  font-family: "Avenir-black";
}
.products .pro-content p {
  font-size: 30px;
  color: var(--light-color);
  font-family: "Avenir-black";
  max-width: 45%;
  margin-top: 10%;
}
.products .pro-content .btn {
  background-color: var(--light-color);
  border-radius: 25px;
  color: var(--dark-color);
  font-size: 20px;
  font-family: "Avenir-medium";
  padding: 10px 25px;
  height: 46px;
  width: 143px;
  box-shadow: none;
  margin-top: 45px;
}

.article {
  padding: 100px 0 176px 0;
}
.article .title {
  margin-bottom: 65px;
}
.article .card {
  border-radius: 25px;
  border: none;
}
.article .card .card-title {
  font-size: 13px;
  color: var(--offwhite);
  display: flex;
  justify-content: space-between;
}
.article .card .card-text {
  color: var(--dark-color);
  font-size: 18px;
  font-family: "Avenir-medium";
  max-width: 84%;
}
.article .card h4 {
  color: var(--dark-color);
  font-family: "Avenir-black";
  max-width: 90%;
}
.article .card .article-img {
  border-radius: 25px;
}

.footer {
  height: 637px;
  background-color: var(--blue-color);
  padding: 115px 72px;
}
.footer .footer-top {
  border-bottom: 2px solid var(--light-color);
}
.footer .footer-top h1 {
  font-size: 50px;
  color: var(--light-color);
  font-family: "Avenir-book";
}
.footer .footer-top h2 {
  font-size: 38px;
  color: var(--light-color);
  font-family: "Avenir-book";
  margin-bottom: 30px;
}
.footer .footer-top .special {
  font-family: "Avenir-black";
}
.footer .footer-top .social {
  display: flex;
  margin-top: 35px;
}
.footer .footer-top .social-icons {
  border: 2px solid var(--light-color);
  border-radius: 50%;
  padding: 6px;
  margin-right: 20px;
  width: 34px;
  height: 32px;
}
.footer .footer-top .social-icon {
  font-size: 18px;
  color: var(--light-color);
  padding-left: 2px;
}
.footer .footer-top .special-icon {
  font-size: 32px;
}
.footer .footer-top .address {
  line-height: 29px;
  max-width: 80%;
}
.footer .footer-top h4 {
  font-family: "Avenir-book";
  font-size: 21px;
  color: var(--light-color);
}
.footer .footer-top .news {
  margin-bottom: 0;
}
.footer .footer-top .form {
  position: relative;
  margin-bottom: 106px;
}
.footer .footer-top .form .form-control {
  border: 1px solid var(--light-color);
  margin-top: 96px;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  background: transparent;
  padding: 6px 10px;
}
.footer .footer-top .form .form-control:focus {
  box-shadow: none;
  color: var(--light-color);
  font-size: 21px;
}
.footer .footer-top .form .label {
  position: absolute;
  font-size: 21px;
  color: var(--light-color);
  font-family: "Avenir-book";
  bottom: 21px;
  left: -12px;
}
.footer .footer-top .form .btn {
  position: absolute;
  top: -38px;
  right: 0px;
  bottom: 0;
  border: 0;
  width: 228px;
  height: 73px;
  font-size: 21px;
  padding: 23px 67px 22px 68px;
  font-family: "Avenir-medium";
  background: var(--light-color);
  color: var(--dark-color);
  transition: 0.3s;
  border-radius: 0;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
  color: var(--light-color);
}
.footer h3 {
  font-size: 21px;
  color: var(--light-color);
  font-family: "Avenir-medium";
  margin-bottom: 30px;
}
.footer .footer-bottom {
  display: flex;
  padding: 60px 0 0 0;
  justify-content: space-between;
  border-top: 2px solid var(--light-color);
}
.footer .footer-bottom p {
  font-size: 18px;
  font-family: "Avenir-medium";
  color: var(--light-color);
}
.footer .footer-bottom .last-link {
  margin-left: 38px;
}

@media (min-width: 1700px) and (max-width: 1900px) {
  .title h1 {
    font-size: 28px;
  }
  .title .btn {
    font-size: 19px;
    padding: 8px 30px 0px;
    height: 40px;
    width: 140px;
  }
  .topnav .language {
    margin-left: 74%;
  }
  .topnav .language .egypt-flag .flag {
    max-width: 8%;
  }
  .topnav .contact {
    margin-left: 70%;
  }
  .head {
    height: 108px;
  }
  .head .logo {
    margin-right: 35px;
  }
  .head .nav-link {
    font-size: 13px;
    padding: 10px 13px;
    letter-spacing: 1px;
  }
  .head .last-content {
    margin-left: 12%;
    justify-content: start;
    padding: 31px 30px 40px 0;
  }
  .head .last-content .input {
    width: 250px;
  }
  .head .last-content .btn-1 {
    padding: 12px 12px;
    margin-top: 0px;
    font-size: 11px;
  }
  .head .last-content .input:focus {
    font-size: 13px;
  }
  .head .last-content .label {
    font-size: 13px;
    padding: 11px;
  }
  .head .last-content .icon {
    margin-right: 5px;
    font-size: 17px;
  }
  .our-categories .categories-content .categorie .card-title {
    font-size: 23px;
  }
  .our-categories .categories-content .categorie .card-text {
    font-size: 15px;
  }
  .products .products-content {
    padding: 35px 69px 0;
  }
  .products .pro-content h1 {
    font-size: 55px;
    max-width: 70%;
  }
  .products .pro-content p {
    font-size: 28px;
    max-width: 40%;
  }
  .products .pro-content .btn {
    padding: 8px 0px;
    height: 40px;
    width: 140px;
    margin-top: 30px;
  }
  .ideas .owl-stage-outer {
    margin: auto;
    margin-left: -43%;
  }
  .ideas .owl-item:active {
    width: 1983px !important;
  }
  .ideas .owl-item {
    width: 1983px !important;
  }
  .article .card .card-title {
    font-size: 13px;
  }
  .article .card .card-text {
    font-size: 16px;
    max-width: 97%;
  }
  .article .card h4 {
    font-size: 16px;
    max-width: 100%;
  }
}
@media (min-width: 1400px) and (max-width: 1699px) {
  .title h1 {
    font-size: 27px;
  }
  .title .btn {
    font-size: 18px;
    padding: 6px 30px 0px;
    height: 36px;
    width: 133px;
  }
  .topnav .language {
    margin-left: 74%;
  }
  .topnav .contact {
    margin-left: 62%;
  }
  .head .logo {
    margin-right: 0px;
  }
  .head .nav-link {
    font-size: 12px;
    padding: 10px 10px;
    letter-spacing: 0.4px;
  }
  .head .last-content {
    margin-left: 3%;
    padding: 31px 0;
    justify-content: start;
  }
  .head .last-content .input {
    width: 230px;
  }
  .head .last-content .btn-1 {
    padding: 13px 0px;
    margin-top: 0px;
    font-size: 11px;
  }
  .head .last-content .input:focus {
    font-size: 12px;
  }
  .head .last-content .label {
    font-size: 12px;
    padding: 11px;
  }
  .head .last-content .icon {
    margin-right: 5px;
    font-size: 15px;
  }
  .our-categories .categories-content .categorie .card-title {
    font-size: 23px;
  }
  .our-categories .categories-content .categorie .card-text {
    font-size: 15px;
  }
  .products .products-content {
    padding: 20px 69px 0;
  }
  .products .pro-content h1 {
    font-size: 50px;
  }
  .products .pro-content p {
    font-size: 27px;
    margin-top: 6%;
  }
  .products .pro-content .btn {
    padding: 5px 18px;
    height: 36px;
    width: 133px;
    margin-top: 30px;
  }
  .ideas .owl-stage-outer {
    margin: auto;
    margin-left: -43%;
  }
  .ideas .owl-item:active {
    width: 1620px !important;
  }
  .ideas .owl-item {
    width: 1620px !important;
  }
  .article .card .card-title {
    font-size: 13px;
  }
  .article .card .card-text {
    font-size: 16px;
    max-width: 97%;
  }
  .article .card h4 {
    font-size: 16px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container-xxl {
    width: 1170px !important;
    max-width: 1674px !important;
  }
  .title h1 {
    font-size: 21px;
  }
  .title .btn {
    font-size: 14px;
    padding: 5px 19px 0px;
    height: 30px;
    width: 100px;
  }
  .topnav {
    height: 17px;
  }
  .topnav .language {
    margin-left: 75%;
  }
  .topnav .language .egy {
    margin-right: 10px;
    font-size: 9px;
    padding: 3px 15px;
  }
  .topnav .language .special {
    font-size: 11px;
  }
  .topnav .language .dropdown {
    font-size: 14px;
  }
  .topnav .language .egypt-flag {
    top: 5px;
    right: 0px;
    left: 30px;
  }
  .topnav .language .egypt-flag .flag {
    max-width: 6%;
  }
  .topnav .contact {
    margin-left: 72%;
  }
  .topnav .contact a {
    font-size: 8px;
    padding: 4px 10px;
  }
  .head {
    height: 77px;
  }
  .head .first-content {
    padding: 20px 0;
  }
  .head .logo {
    margin-right: 0px;
    padding: 18px 0 0 22px;
  }
  .head .logo img {
    max-width: 71%;
  }
  .head .list {
    margin-top: 0px;
  }
  .head .nav-link {
    font-size: 10px;
    padding: 10px 7px;
    letter-spacing: 0.3px;
  }
  .head .nav-pills .btn {
    height: 28px;
    width: 53px;
    margin: 1px 0 0 5px;
    padding: 9px 0;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 9px;
  }
  .head .nav-item {
    margin-left: 10px;
  }
  .head .last-content {
    margin-left: 9%;
    padding: 20px 0;
    justify-content: start;
  }
  .head .last-content .input {
    width: 200px;
    height: 30px;
    font-size: 10px;
  }
  .head .last-content .btn-1 {
    padding: 12px 0px;
    margin-top: 0px;
    font-size: 9px;
    height: 30px;
    width: 85px;
    padding: 10px 3px 0 0;
  }
  .head .last-content .input:focus {
    font-size: 10px;
  }
  .head .last-content .label {
    font-size: 10px;
    padding: 11px;
  }
  .head .last-content .search-icon {
    margin-left: 5px;
  }
  .head .last-content .icon {
    margin-right: 5px;
    font-size: 13px;
  }
  .our-categories {
    padding: 40px 0 60px;
  }
  .our-categories .categories-content .categorie {
    margin-top: 25px;
  }
  .our-categories .categories-content .categorie .card-title {
    font-size: 19px;
  }
  .our-categories .categories-content .categorie .card {
    height: 300px;
    border: none !important;
  }
  .our-categories .categories-content .categorie .card .card-body {
    padding: 30px 37px;
  }
  .our-categories .categories-content .categorie .card .categorie-img {
    margin-top: 30px;
    margin-bottom: 55px;
    max-width: 35%;
  }
  .our-categories .categories-content .categorie .card-text {
    font-size: 12px;
  }
  .our-categories .categories-content .categorie .special-p {
    max-width: 290px;
  }
  .professionally {
    padding: 60px 0 50px;
  }
  .professionally .title {
    margin-bottom: 35px;
  }
  .professionally .slider .hobbies-item .card {
    border: none;
  }
  .professionally .slider .hobbies-item .card .card-title {
    font-size: 13px;
  }
  .professionally .slider .hobbies-item .card .card-text {
    font-size: 13px;
  }
  .professionally .slider .hobbies-item .card .card-body {
    padding: 0.5rem 0rem;
  }
  .ideas {
    padding: 0px 0 50px;
  }
  .ideas .title {
    margin-bottom: 50px;
  }
  .ideas .slider .hobbies-item .card {
    border: none;
  }
  .ideas .slider .hobbies-item .card .card-title {
    font-size: 13px;
  }
  .ideas .slider .hobbies-item .card .card-text {
    font-size: 13px;
  }
  .ideas .slider .hobbies-item .card .card-body {
    padding: 0.5rem 0rem;
  }
  .products .products-content {
    padding: 45px 45px 0;
  }
  .products .pro-content h1 {
    font-size: 40px;
    max-width: 75%;
  }
  .products .pro-content p {
    font-size: 22px;
    margin-top: 10%;
    max-width: 40%;
  }
  .products .pro-content .btn {
    padding: 6px 10px;
    height: 32px;
    font-size: 14px;
    width: 105px;
    margin-top: 30px;
  }
  .article {
    padding: 60px 0 115px 0;
  }
  .article .title {
    margin-bottom: 35px;
  }
  .article .card .card-title {
    font-size: 12px;
  }
  .article .card .card-text {
    font-size: 13px;
    max-width: 95%;
  }
  .article .card h4 {
    font-size: 13px;
    max-width: 100%;
  }
  .footer {
    padding: 50px 50px;
    height: 465px;
  }
  .footer .footer-top h1 {
    font-size: 35px;
  }
  .footer .footer-top h2 {
    font-size: 27px;
    margin-bottom: 0px;
  }
  .footer .footer-top .social-icons {
    width: 27px;
    height: 27px;
    padding: 2px 0px 0 3px;
    margin-right: 16px;
  }
  .footer .footer-top .social-icon {
    font-size: 13px;
  }
  .footer .footer-top .special-icon {
    font-size: 27px;
  }
  .footer .footer-top .address {
    max-width: 75%;
  }
  .footer .footer-top h4 {
    font-size: 15px;
  }
  .footer .footer-top .form {
    margin-bottom: 75px;
    margin-left: auto;
    max-width: 90%;
  }
  .footer .footer-top .form .form-control:focus {
    font-size: 13px;
  }
  .footer .footer-top .form .label {
    font-size: 13px;
    letter-spacing: 1px;
    bottom: 7px;
    left: 0px;
  }
  .footer .footer-top .form .btn {
    width: 150px;
    height: 50px;
    font-size: 14px;
    padding: 16px 0;
    top: -17px;
  }
  .footer h3 {
    font-size: 14px;
  }
  .footer .footer-bottom {
    padding: 50px 0 0 0;
    border-top: 0px solid var(--light-color);
  }
  .footer .footer-bottom p {
    font-size: 13px;
  }
  .footer .footer-bottom .last-link {
    margin-left: 25px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-xxl {
    width: 495px !important;
    max-width: 1674px !important;
  }
  .title h1 {
    font-size: 20px;
    margin-top: 5px;
  }
  .title .btn {
    font-size: 15px;
    padding: 5px 15px 0px;
    height: 30px;
    width: 100px;
  }
  .topnav .language {
    margin-left: 40%;
  }
  .topnav .language .egy {
    margin-right: 20px;
  }
  .topnav .language .special {
    font-size: 12px;
  }
  .topnav .contact {
    margin-left: 20%;
  }
  .topnav .contact a {
    font-size: 10px;
  }
  .head {
    padding: 30px 25px;
  }
  .head .logo {
    margin-right: 10px;
  }
  .head .logo img {
    max-width: 100%;
  }
  .head .ul {
    display: grid;
  }
  .head .ul-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .head .nav-item {
    text-align: center;
  }
  .head .nav-link {
    font-size: 11px;
    padding: 10px 10px;
    letter-spacing: 0.6px;
  }
  .head .last-content {
    margin-left: 12%;
    display: flex;
    flex-direction: column-reverse;
  }
  .head .last-content .form {
    margin-top: 15%;
  }
  .head .last-content .input {
    width: 185px;
  }
  .head .last-content .btn-1 {
    padding: 10px 12px;
    margin-top: 0px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  .head .last-content .input:focus {
    font-size: 11px;
  }
  .head .last-content .label {
    font-size: 11px;
    padding: 11px;
  }
  .head .last-content .search-icon {
    margin-left: 5px;
  }
  .head .last-content .icon {
    margin-right: 5px;
    font-size: 13px;
  }
  .our-categories .categories-content .categorie .card-title {
    font-size: 15px;
  }
  .our-categories .categories-content .categorie .card-text {
    font-size: 10px;
  }
  .our-categories .categories-content .categorie .card {
    height: 280px;
    margin-bottom: 20px;
  }
  .our-categories .categories-content .categorie .card-body {
    padding: 35px 37px;
  }
  .our-categories .categories-content .categorie .categorie-img {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 40%;
  }
  .our-categories .categories-content .categorie .special-p {
    max-width: 250px;
  }
  .professionally .slider .hobbies-item .card .card-title {
    font-size: 15px;
  }
  .professionally .slider .hobbies-item .card .card-text {
    font-size: 13px;
  }
  .professionally .slider .hobbies-item .card .rating {
    max-width: 35%;
  }
  .ideas .slider .hobbies-item .card .card-title {
    font-size: 15px;
  }
  .ideas .slider .hobbies-item .card .card-text {
    font-size: 13px;
  }
  .ideas .slider .hobbies-item .card .rating {
    max-width: 35%;
  }
  .products .pro-content h1 {
    font-size: 40px;
    max-width: 75%;
  }
  .products .pro-content p {
    font-size: 22px;
    margin-top: 10%;
    max-width: 40%;
  }
  .products .pro-content .btn {
    padding: 5px 10px;
    height: 32px;
    font-size: 16px;
    width: 123px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .article .card .card-title {
    font-size: 12px;
  }
  .article .card .card-text {
    font-size: 14px;
    max-width: 80%;
  }
  .article .card h4 {
    font-size: 14px;
    max-width: 55%;
  }
  .footer {
    padding: 40px 72px;
    height: auto;
  }
  .footer .footer-top h1 {
    font-size: 40px;
  }
  .footer .footer-top h2 {
    font-size: 33px;
  }
  .footer .footer-top .social-icons {
    width: 27px;
    height: 27px;
    padding: 4px;
    margin-right: 16px;
  }
  .footer .footer-top .social-icon {
    font-size: 15px;
  }
  .footer .footer-top .special-icon {
    font-size: 27px;
  }
  .footer .footer-top .address {
    max-width: 40%;
  }
  .footer .footer-top h4 {
    font-size: 17px;
  }
  .footer .footer-top .form .form-control:focus {
    font-size: 16px;
  }
  .footer .footer-top .form .label {
    font-size: 16px;
  }
  .footer .footer-top .form .btn {
    width: 200px;
    height: 64px;
    font-size: 18px;
    padding: 20px 67px 15px 63px;
    top: -30px;
  }
  .footer h3 {
    font-size: 18px;
  }
  .footer .footer-bottom {
    border: 0;
    display: inline-block;
    margin-left: 25%;
  }
  .footer .footer-bottom p {
    font-size: 16px;
  }
  .footer .footer-bottom .last-a {
    justify-content: space-between;
  }
}
@media (min-width: 1900px) {
  .container-xxl {
    width: 1674px !important;
    max-width: 1674px !important;
  }
}
/*xl= =1920×1080 */
/*lg= =1536×864 */
/*md= =1366×768 */
/*sm= =1280×720 */
.topnav {
  background-color: #B72637;
  height: 24px;
}
.topnav .language-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav .language-section .country-btn {
  line-height: 0.32;
  color: #FFFFFF;
  height: 20px;
  padding: 0;
  margin: 0;
  font-size: 10px;
}
.topnav .language-section .country-btn:hover {
  color: #FFFFFF;
}
.topnav .language-section .country-btn img {
  height: 10px;
}
.topnav .language-section .language-btn {
  color: #FFFFFF;
  display: inline-block;
  margin-left: 30px;
  font-size: 12px;
}
.topnav .social-links {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.topnav .social-links a {
  color: #FFFFFF;
  margin: 0 10px;
  font-size: 10px;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  border: 0;
  position: absolute;
  left: -55%;
  top: 30%;
  background-image: url("../img/chevron-down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .carousel-item {
    height: 300px;
  }
  .carousel-item img {
    height: 300px;
    object-fit: cover;
  }
}
nav {
  background-color: #113663;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
@media screen and (min-width: 1200px) {
  nav {
    height: 111px;
  }
}
nav .nav-item .nav-link {
  background-color: transparent;
  font-size: 12px;
  color: #ACACAC;
  font-family: "Avenir-book";
  padding: 5px !important;
  letter-spacing: 1px;
}
@media screen and (min-width: 1200px) {
  nav .nav-item .nav-link {
    padding: 5px !important;
  }
}
nav .nav-item .nav-link.with-icon {
  display: flex;
  align-items: center;
}
nav .nav-item .nav-link.with-icon svg {
  margin-right: 5px;
}
nav .nav-item .nav-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: #ACACAC;
}
nav .nav-item .nav-link.active {
  background-color: #B72637;
  border-radius: 25px;
}
nav .nav-item .nav-link.active:hover {
  background-color: #B72637;
}
nav .navbar-brand {
  padding: 5px !important;
}
nav .first-content {
  padding: 31px 0px 40px;
}
nav .last-content {
  margin-left: 14%;
  justify-content: space-around;
  display: flex;
  padding: 31px 41px 40px 0;
}
nav .last-content .btn-1 {
  height: 40px;
  width: 107px;
  letter-spacing: 0;
  padding: 12px 8px;
  font-size: 12px;
  font-family: "Avenir-book";
}
nav .last-content .form:focus label {
  opacity: 0;
  display: none;
}
nav .last-content .input {
  background-color: transparent;
  border: 1px solid #a1abb9;
  height: 39px;
  border-radius: 300px;
  width: 271px;
  font-size: 14px;
  font-family: "Avenir-book";
  color: #a1abb9;
  padding: 0px 25px;
  position: relative;
}
nav .last-content .input:focus {
  color: #a1abb9;
  font-size: 14px;
  box-shadow: none;
}
nav .last-content .input:focus .label {
  opacity: 0;
  display: none;
}
nav .last-content .input:focus label {
  display: none;
}
nav .last-content .label {
  position: absolute;
  font-size: 14px;
  color: #a1abb9;
  font-family: "Avenir-book";
  padding: 9px;
}
nav .last-content .icon {
  color: #a1abb9;
  margin-right: 7px;
  font-size: 19px;
}
nav .last-content .search-icon {
  margin-left: 15px;
}
nav .search-input {
  position: relative;
}
nav .search-input input {
  background-color: transparent;
  color: white;
  border-radius: 25px !important;
  padding-left: 30px;
}
nav .search-input input::placeholder {
  color: white;
}
nav .search-input input:focus {
  background: transparent;
  box-shadow: none;
  border: 1px solid white;
  color: white;
}
nav .search-input .search-icon {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 16px;
  transform: translateY(-50%);
}

button.btn, a.btn {
  border-radius: 25px;
  padding: 5px 10px;
  outline: 0;
  font-size: 12px;
}
button.large-btn, a.large-btn {
  min-width: 100px;
}
button.btn-red, a.btn-red {
  color: #FFFFFF;
  border: 1px solid #B72637;
  background-color: #B72637;
}
button.btn-red:hover, a.btn-red:hover {
  color: white;
  background-color: #B72637;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 40px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 40px;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .category-card {
    align-items: center;
  }
}
.category-card img {
  width: 88px;
  height: 65px;
  display: block;
  margin: 35px 0;
}
.category-card p {
  font-size: 14px;
}

.heading.with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading .label {
  font-weight: bold;
  font-size: 30px;
}
.heading .btn-white {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 23px;
  padding: 8px 10px;
}

.our-tools {
  background: url("../img/tools backgraund.png") center no-repeat;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-tools .tools-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-tools .tools-content .label {
  margin-bottom: 60px;
  text-align: center;
  font-size: 70px;
  color: white;
}
.our-tools .tools-content .btn-red {
  font-size: 20px;
  padding: 10px 40px;
}

.professional-card {
  font-size: 18px;
  padding: 15px;
}
.professional-card .professional-card-img {
  height: 500px;
  object-fit: fill;
}
.professional-card.wide .professional-card-img {
  border-radius: 25px;
  overflow: hidden;
  height: 250px;
  object-fit: cover;
}
.professional-card .card-text {
  color: #ACACAC;
  margin: 0;
  padding: 0;
}
.professional-card .rating {
  display: inline;
}
.professional-card .rating .checked {
  color: gold;
}

/*# sourceMappingURL=style.css.map */
