/* line 1, ../sass/style.scss */
:root {
  --red-color: #B72637;
  --blue-color: #113663;
  --light-color: #FFFFFF;
  --gray-color: #F0F0F0;
  --dark-color: #000000;
  --offwhite: #ACACAC;
}

@font-face {
  font-family: 'Avenir-book';
  src: url("../fonts/Avenir Font/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: 'Avenir-black';
  src: url("../fonts/Avenir Black.otf");
}
@font-face {
  font-family: 'Avenir-medium';
  src: url("../fonts/Avenir-Medium.otf");
}
@font-face {
  font-family: 'Helvetica-bold';
  src: url("../fonts/Helvetica Neu Bold.ttf");
}
@font-face {
  font-family: 'Helveticaregular';
  src: url("../fonts/HelveticaNeue regular.ttf");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'rocgrotesk';
  font-weight: 'medium';
  src: url("../fonts/rocgrotesk medium.otf");
}
@font-face {
  font-family: 'rocgrotesk';
  font-weight: 'regular';
  src: url("../fonts/rocgrotesk/RocGrotesk-regular.ttf");
}
@media (min-width: 1200px) {
  /* line 63, ../sass/style.scss */
  .container {
    width: 1674px !important;
  }
}
/* line 68, ../sass/style.scss */
.title {
  display: flex;
  justify-content: space-between;
}
/* line 71, ../sass/style.scss */
.title h1 {
  color: var(--dark-color);
  font-size: 30px;
  font-family: 'Avenir-black';
}
/* line 76, ../sass/style.scss */
.title .btn {
  background-color: var(--gray-color);
  border-radius: 25px;
  color: var(--dark-color);
  font-size: 20px;
  font-family: 'Avenir-book';
  padding: 11px 35px 8px;
  height: 46px;
  width: 143px;
  box-shadow: none !important;
}

/* line 89, ../sass/style.scss */
.topnav {
  background-color: var(--red-color);
  overflow: hidden;
}
/* line 92, ../sass/style.scss */
.topnav .language {
  margin-left: 80%;
  position: relative;
}
/* line 95, ../sass/style.scss */
.topnav .language .egy {
  margin-right: 27px;
}
/* line 98, ../sass/style.scss */
.topnav .language .path {
  position: absolute;
  top: 9px;
  height: 8px;
  left: 0px;
}
/* line 104, ../sass/style.scss */
.topnav .language .egypt-flag {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6px;
  right: 0px;
  left: 19px;
}
/* line 111, ../sass/style.scss */
.topnav .language .egypt-flag .flag {
  max-width: 10%;
}
/* line 116, ../sass/style.scss */
.topnav .contact {
  margin-left: 72%;
}
/* line 119, ../sass/style.scss */
.topnav a {
  float: left;
  color: var(--light-color);
  font-style: normal;
  font-weight: 400;
  text-align: right;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 11px;
}
/* line 130, ../sass/style.scss */
.topnav a:hover {
  text-decoration: none;
  color: var(--light-color);
}
/* line 135, ../sass/style.scss */
.topnav .arrow {
  margin-right: 5px;
}
/* line 138, ../sass/style.scss */
.topnav .special {
  font-size: 14px;
  font-family: 'rocgrotesk';
  font-weight: 'medium';
  font-style: normal;
  font-weight: 500;
  padding: 0;
}

/* line 148, ../sass/style.scss */
.head {
  background-color: var(--blue-color);
  padding: 40px 43px;
}
/* line 151, ../sass/style.scss */
.head .logo {
  margin-right: 75px;
}
/* line 156, ../sass/style.scss */
.head .nav li a:focus {
  background-color: transparent;
  color: var(--light-color);
}
/* line 162, ../sass/style.scss */
.head .nav-link {
  background-color: transparent;
  font-size: 14px;
  color: var(--light-color);
  font-family: 'Avenir-book';
  padding: 10px 15px;
  letter-spacing: 1.7px;
}
/* line 169, ../sass/style.scss */
.head .nav-link:hover {
  background-color: transparent;
  color: var(--light-color);
}
/* line 174, ../sass/style.scss */
.head .nav-pills {
  margin-top: 5px;
}
/* line 176, ../sass/style.scss */
.head .nav-pills .btn {
  background-color: var(--red-color);
  border-radius: 25px;
}
/* line 181, ../sass/style.scss */
.head .last-content {
  margin-left: 7%;
  justify-content: space-around;
  display: flex;
}
/* line 185, ../sass/style.scss */
.head .last-content .btn-1 {
  font-size: 12px;
  padding: 15px 18px;
  margin-top: -8px;
}
/* line 190, ../sass/style.scss */
.head .last-content .input {
  background-color: transparent;
  border: 1px solid var(--light-color);
  height: 39px;
  border-radius: 300px;
  width: 271px;
  position: relative;
}
/* line 198, ../sass/style.scss */
.head .last-content .input:focus {
  color: var(--light-color);
  font-size: 14px;
  box-shadow: none;
}
/* line 203, ../sass/style.scss */
.head .last-content .label {
  position: absolute;
  font-size: 14px;
  color: var(--light-color);
  font-family: 'Avenir-book';
  padding: 9px;
}
/* line 210, ../sass/style.scss */
.head .last-content .icon {
  color: var(--light-color);
  margin-right: 7px;
  font-size: 19px;
}
/* line 215, ../sass/style.scss */
.head .last-content .search-icon {
  margin-left: 15px;
}
/* line 219, ../sass/style.scss */
.head .list {
  margin-top: -4px;
}

/* line 225, ../sass/style.scss */
.slider .owl-dots {
  position: absolute;
  top: 90%;
  right: 0;
  left: 1%;
}

/* line 233, ../sass/style.scss */
.our-categories {
  background-color: var(--gray-color);
  padding: 75px 0;
}
/* line 236, ../sass/style.scss */
.our-categories .container {
  max-width: 1674px !important;
}
/* line 240, ../sass/style.scss */
.our-categories .categories-content .btn {
  background-color: var(--light-color);
}
/* line 243, ../sass/style.scss */
.our-categories .categories-content .categorie {
  margin-top: 48px;
}
/* line 245, ../sass/style.scss */
.our-categories .categories-content .categorie .card {
  border-radius: 40px;
}
/* line 248, ../sass/style.scss */
.our-categories .categories-content .categorie .categorie-img {
  margin-top: 38px;
  margin-bottom: 80px;
}
/* line 252, ../sass/style.scss */
.our-categories .categories-content .categorie .card-body {
  padding: 58px 37px;
}
/* line 255, ../sass/style.scss */
.our-categories .categories-content .categorie .card-title {
  color: var(--dark-color);
  font-size: 28px;
  font-family: 'Avenir-black';
}
/* line 260, ../sass/style.scss */
.our-categories .categories-content .categorie .card-text {
  font-size: 19px;
  font-family: 'Lato-Regular';
  color: var(--dark-color);
}
/* line 265, ../sass/style.scss */
.our-categories .categories-content .categorie .special-p {
  max-width: 480px;
}

/* line 272, ../sass/style.scss */
.our-tools {
  background: url("../img/tools backgraund.png") center no-repeat;
  background-size: cover;
  height: 496px;
  position: relative;
}
/* line 277, ../sass/style.scss */
.our-tools .tools-content {
  text-align: center;
  top: 179px;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 283, ../sass/style.scss */
.our-tools .tools-content h1 {
  font-size: 76px;
  font-family: 'Avenir-black';
  color: var(--light-color);
}
/* line 288, ../sass/style.scss */
.our-tools .tools-content .btn {
  background-color: var(--red-color);
  border-radius: 25px;
  color: var(--light-color);
  font-size: 20px;
  font-family: 'Avenir-book';
  padding: 16px 43px;
  height: 58px;
  width: 181px;
  box-shadow: none;
  margin-top: 65px;
}

/* line 306, ../sass/style.scss */
.owl-theme .owl-dots .owl-dot span {
  background-color: transparent !important;
  border: 2px solid var(--light-color);
  width: 12px;
  height: 12px;
}
/* line 314, ../sass/style.scss */
.owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--light-color) !important;
  border: 2px solid var(--light-color);
  width: 12px;
  height: 12px;
}

/* line 324, ../sass/style.scss */
.professionally {
  padding: 75px 0;
}
/* line 326, ../sass/style.scss */
.professionally .container {
  max-width: 1674px !important;
}
/* line 329, ../sass/style.scss */
.professionally .btn {
  background-color: var(--gray-color);
}
/* line 332, ../sass/style.scss */
.professionally .title {
  margin-bottom: 68px;
}
/* line 335, ../sass/style.scss */
.professionally .owl-stage-outer {
  margin: auto;
}
/* line 340, ../sass/style.scss */
.professionally .slider .hobbies-item .card {
  border: none;
}
/* line 342, ../sass/style.scss */
.professionally .slider .hobbies-item .card .card-title {
  font-size: 18px;
  color: var(--dark-color);
  font-family: 'Avenir-medium';
  display: flex;
  justify-content: space-between;
}
/* line 349, ../sass/style.scss */
.professionally .slider .hobbies-item .card .card-text {
  color: var(--offwhite);
  font-size: 18px;
  font-family: 'Avenir-medium';
}
/* line 354, ../sass/style.scss */
.professionally .slider .hobbies-item .card .rating {
  max-width: 30%;
}
/* line 357, ../sass/style.scss */
.professionally .slider .hobbies-item .card .portfolio {
  max-width: 100%;
}

/* line 365, ../sass/style.scss */
.ideas {
  padding: 75px 0;
}
/* line 367, ../sass/style.scss */
.ideas .container {
  max-width: 1674px !important;
}
/* line 370, ../sass/style.scss */
.ideas .btn {
  background-color: var(--gray-color);
}
/* line 373, ../sass/style.scss */
.ideas .title {
  margin-bottom: 77px;
}
/* line 376, ../sass/style.scss */
.ideas .owl-stage-outer {
  margin: auto;
}
/* line 381, ../sass/style.scss */
.ideas .slider .hobbies-item .card {
  border: none;
}
/* line 383, ../sass/style.scss */
.ideas .slider .hobbies-item .card .card-title {
  font-size: 18px;
  color: var(--dark-color);
  font-family: 'Avenir-medium';
  display: flex;
  justify-content: space-between;
}
/* line 390, ../sass/style.scss */
.ideas .slider .hobbies-item .card .card-text {
  color: var(--offwhite);
  font-size: 18px;
  font-family: 'Avenir-medium';
}
/* line 395, ../sass/style.scss */
.ideas .slider .hobbies-item .card .rating {
  max-width: 30%;
}
/* line 398, ../sass/style.scss */
.ideas .slider .hobbies-item .card .portfolio {
  max-width: 100%;
}

/* line 407, ../sass/style.scss */
.products .products-content {
  background-color: var(--blue-color);
  padding: 70px 79px 0;
}
/* line 411, ../sass/style.scss */
.products .img {
  max-width: 100%;
}
/* line 414, ../sass/style.scss */
.products .pro-content {
  text-align: left;
}
/* line 416, ../sass/style.scss */
.products .pro-content h1 {
  font-size: 60px;
  color: var(--light-color);
  font-family: 'Avenir-black';
}
/* line 421, ../sass/style.scss */
.products .pro-content p {
  font-size: 30px;
  color: var(--light-color);
  font-family: 'Avenir-black';
  max-width: 45%;
  margin-top: 10%;
}
/* line 428, ../sass/style.scss */
.products .pro-content .btn {
  background-color: var(--light-color);
  border-radius: 25px;
  color: var(--dark-color);
  font-size: 20px;
  font-family: 'Avenir-medium';
  padding: 10px 25px;
  height: 46px;
  width: 143px;
  box-shadow: none;
  margin-top: 45px;
}

/* line 443, ../sass/style.scss */
.article {
  padding: 100px 0 176px 0;
}
/* line 445, ../sass/style.scss */
.article .container {
  max-width: 1674px !important;
}
/* line 448, ../sass/style.scss */
.article .title {
  margin-bottom: 65px;
}
/* line 451, ../sass/style.scss */
.article .card {
  border-radius: 25px;
  border: none;
}
/* line 454, ../sass/style.scss */
.article .card .card-title {
  font-size: 13px;
  color: var(--offwhite);
  display: flex;
  justify-content: space-between;
}
/* line 460, ../sass/style.scss */
.article .card .card-text {
  color: var(--dark-color);
  font-size: 18px;
  font-family: 'Avenir-medium';
  max-width: 84%;
}
/* line 466, ../sass/style.scss */
.article .card h4 {
  color: var(--dark-color);
  font-family: 'Avenir-black';
  max-width: 90%;
}
/* line 471, ../sass/style.scss */
.article .card .article-img {
  border-radius: 25px;
}

/* line 477, ../sass/style.scss */
.footer {
  height: 637px;
  background-color: var(--blue-color);
  padding: 115px 72px;
}
/* line 481, ../sass/style.scss */
.footer .footer-top {
  border-bottom: 2px solid var(--light-color);
}
/* line 483, ../sass/style.scss */
.footer .footer-top h1 {
  font-size: 50px;
  color: var(--light-color);
  font-family: 'Avenir-book';
}
/* line 488, ../sass/style.scss */
.footer .footer-top h2 {
  font-size: 38px;
  color: var(--light-color);
  font-family: 'Avenir-book';
  margin-bottom: 30px;
}
/* line 494, ../sass/style.scss */
.footer .footer-top .special {
  font-family: 'Avenir-black';
}
/* line 497, ../sass/style.scss */
.footer .footer-top .social {
  display: flex;
  margin-top: 35px;
}
/* line 501, ../sass/style.scss */
.footer .footer-top .social-icons {
  border: 2px solid var(--light-color);
  border-radius: 50%;
  padding: 6px;
  margin-right: 20px;
  width: 34px;
  height: 32px;
}
/* line 509, ../sass/style.scss */
.footer .footer-top .social-icon {
  font-size: 18px;
  color: var(--light-color);
  padding-left: 2px;
}
/* line 514, ../sass/style.scss */
.footer .footer-top .special-icon {
  font-size: 32px;
}
/* line 517, ../sass/style.scss */
.footer .footer-top .address {
  line-height: 29px;
  max-width: 80%;
}
/* line 521, ../sass/style.scss */
.footer .footer-top h4 {
  font-family: 'Avenir-book';
  font-size: 21px;
  color: var(--light-color);
}
/* line 526, ../sass/style.scss */
.footer .footer-top .news {
  margin-bottom: 0;
}
/* line 529, ../sass/style.scss */
.footer .footer-top .form {
  position: relative;
  margin-bottom: 106px;
}
/* line 532, ../sass/style.scss */
.footer .footer-top .form .form-control {
  border: 1px solid var(--light-color);
  margin-top: 96px;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  background: transparent;
  padding: 6px 10px;
}
/* line 541, ../sass/style.scss */
.footer .footer-top .form .form-control:focus {
  box-shadow: none;
  color: var(--light-color);
  font-size: 21px;
}
/* line 546, ../sass/style.scss */
.footer .footer-top .form .label {
  position: absolute;
  font-size: 21px;
  color: var(--light-color);
  font-family: 'Avenir-book';
  bottom: 21px;
  left: -12px;
}
/* line 554, ../sass/style.scss */
.footer .footer-top .form .btn {
  position: absolute;
  top: -38px;
  right: 0px;
  bottom: 0;
  border: 0;
  width: 228px;
  height: 73px;
  font-size: 21px;
  padding: 23px 67px 22px 68px;
  font-family: 'Avenir-medium';
  background: var(--light-color);
  color: var(--dark-color);
  transition: 0.3s;
  border-radius: 0;
}
/* line 572, ../sass/style.scss */
.footer a {
  text-decoration: none;
}
/* line 574, ../sass/style.scss */
.footer a:hover {
  text-decoration: none;
  color: var(--light-color);
}
/* line 579, ../sass/style.scss */
.footer h3 {
  font-size: 21px;
  color: var(--light-color);
  font-family: 'Avenir-medium';
  margin-bottom: 30px;
}
/* line 585, ../sass/style.scss */
.footer .footer-bottom {
  display: flex;
  padding: 60px 0 0 0;
  justify-content: space-between;
  border-top: 2px solid var(--light-color);
}
/* line 590, ../sass/style.scss */
.footer .footer-bottom p {
  font-size: 18px;
  font-family: 'Avenir-medium';
  color: var(--light-color);
}
/* line 595, ../sass/style.scss */
.footer .footer-bottom .last-link {
  margin-left: 38px;
}
